<section class="container taxonomy">
  <h1 class="title">
    <a class="title-link" href="{{ .Permalink | safeURL }}">
      {{- if eq .Kind "term" -}}
      {{- i18n .Data.Singular | title -}}
      {{- print ": " -}}
      {{- end -}}

      {{- i18n (lower .Title) | default .Title | title -}}
    </a>
  </h1>
  {{ .Content }}
  <ul>
    {{ $type := .Type }}
    {{ range $key, $value := .Data.Terms.ByCount }}
      {{ $name := .Name }}
      {{ $count := .Count }}
      {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
        <li>
          <span class="taxonomy-element {{.Type | singularize}}" data-tag="{{.Name | urlize}}">
            <span class="taxonomy-count">{{ $count }}</span>
            <a href="{{ .Permalink }}">{{ .Name }}</a>
          </span>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</section>
